.serie-page {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10rem auto;
}

.serie-page .serie-card img,
.serie-page .serie-card h2,
.serie-page .serie-card p {
  margin-bottom: 1rem;
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.serie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 400px;
}
