.movieRow {
    margin-bottom: 30px;
}
.movieRow h2 {
    margin: 0px 0px 0px 30px;
}
.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}
.movieRow--left {
    content: url('https://api.iconify.design/ic/sharp-navigate-before.svg?color=white&width=70&height=70');
    left: 0;
}
.movieRow--right {
    content: url('https://api.iconify.design/ic/sharp-navigate-next.svg?color=white&width=70&height=70');
    right: 0;
}
.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
    touch-action: pan-x;
}
.movieRow--list {
    transition: all ease 0.5s;
}
.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movieRow--item img {
    width: 100%;
    border-radius: 25px;
    transform: scale(0.9);
    transition: all ease 0.2s;
    -webkit-filter: grayscale(20%) ;
    filter: grayscale(20%) ;
    -moz-filter: grayscale(20%);
}
.movieRow--item img:hover {
    transform: scale(1);
    -webkit-filter: grayscale(0) brightness(105%);
    filter: grayscale(0) brightness(105%);
    -moz-filter: grayscale(0);
}
@media (max-width:760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }
}